body {
    background-color: red;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: #fff;

}

.dice {
    text-align: center;
    display: inline-block;
}

h1 {
    margin: 30px;
    font-size: 3rem;
  }

  p {
    font-size: 2rem;

  }

  .img {
    width: 80%;
  }